$font-roboto-slab: 'Roboto Slab', serif;
$background-color: #171717;

body {
  font-family: $font-roboto-slab;
  background-color: $background-color;

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
}


/*HEADER*/

.Header-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 37px;

  .Header-iner {
    display: flex;
    justify-content: space-around;

    &__logo {
      width: 357px;
      height: 79px;
    }

    .Header-nav-top-left {
      border: 1px solid #E4B564;
      height: 50px;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 43px;
    
      &__img {
        margin-right: 6px;
      }

      &__button {
        width: 16px;
        height: 16px;
        text-decoration: none;
        color: #E4B564;
        padding: 21px;
        transition: color 0.2s linear;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}




/*MAIN*/

.main {
  width: 1245px;
  margin: 0 auto;


.Intro {
    display: block;
    color: #fff;
    padding-top: 40px;
  
    &__text {
      width: 1180px;
      height: 50px;
      padding-left: 0;
      font-size: 20px;
    }
  }

  .main-items {
    display: grid;
    grid-template-rows: repeat(2, 438px);
    grid-template-columns: repeat(6, 185px);
    gap: 27px;
    grid-template-areas:
      "n1 n1 n2 n2 n3 n3"
      "n4 n4 n4 n5 n5 n5";
    justify-content: center;
    text-align: center;
    grid-row-gap: 0px;

    p {
      margin-right: 238px;
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 700px;
      line-height: 28px;
      margin: 33px 0 10px;
    }

    &__item-1 {
      background-color: #634f2c;
      grid-area: n1;
      padding-top: 175px;
    }

    &__item-2 {
      background-color: #B4A385;
      grid-area: n2;
      padding-top: 160px;
    }

    &__item-3 {
      background-color: #E4B564;
      grid-area: n3;
      padding-top: 175px;
    }

    &__item-4 {
      background-color: #635A4A;
      grid-area: n4;
      padding-top: 175px;
    }

    &__item-5 {
      background-color: #B08C4D;
      grid-area: n5;
      padding-top: 175px;
    }
  }

  &-text {
    color: #fff;
    padding-top: 100px;
    padding-bottom: 30px;
  }
}

.centr-menu {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  .centr-menu-items {
    display: grid;
    grid-template-columns: repeat(3, 405px);
    grid-template-rows: 255px 28px 96px 129px 277px;
    grid-template-areas:
      "c1 c2 c3"
      "c1 c2 c5"
      "c4 c2 c5"
      "c4 c6 c5"
      "c4 c6 c7";
    justify-content: center;
    gap: 23px;
    margin-bottom: 150px;

    &__item-1 {
      background-color: #0E0E0E;
      grid-row: c1;
      padding-left: 30px;
      padding-top: 40px;
      width: 400px;
      height: 313px;
      flex-shrink: 0;
    }

    &__item-2 {
      background-color: #242424;
      grid-row: c2;
      padding-left: 30px;
      padding-top: 40px;
      width: 400px;
      height: 429px;
      flex-shrink: 0; 
    }

    &__item-3 {
      background-color: #1F1F1F;
      grid-row: c3;
      padding-left: 30px;
      padding-top: 40px;
      width: 400px;;
      height: 245px;
      flex-shrink: 0;
    }

    &__item-4 {
      background-color: #1F1F1F;
      grid-row: c4;
      padding-left: 30px;
      padding-top: 40px;
      width: 400px;
      height: 510px;
      flex-shrink: 0;
    }

    &__item-5 {
      background-color: #0E0E0E;
      grid-row: c5;
      padding-left: 30px;
      padding-top: 40px;
      width: 400px;
      height: 295px;
      flex-shrink: 0;
      margin-top: 4px;
    }

    &__item-6 {
      background-color: #E4B564;
      grid-row: c6;
      color: black;
      padding-left: 30px;
      padding-top: 40px;
      width: 400px;
      height: 375px;
    }

    &__item-7 {
      background-color: #0A0909;
      grid-row: c7;
      padding-left: 30px;
      padding-top: 40px;
      width: 400px;
      height: 255px;
      flex-shrink: 0;
      margin-top: 1px;
    }
  }
}



/*FOOTER*/



.footer {
  padding-top: 120px;
  background-color: #0e0e0e;
  width: 100%;


  .footer-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding-bottom: 30px;
    

    .footer-nav-left {
      border: 1px solid #e4b564;
      height: 50px;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 43px;

      &__button {
        width: 16px;
        height: 16px;
        text-decoration: none;
        color: #e4b564;
        padding: 42px;
        transition: color 0.2s linear;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .footer-container {
    .footer-menu {
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 200px;

      .footer-menu-items {
        display: grid;
        grid-template-areas: 
          "f1 f1 f2 f2 f3 f3"
          "f1 f1 f2 f2 f3 f3"
          "f4 f4 f5 f5 f6 f6"
          "f4 f4 f5 f5 f6 f6"; 
        justify-content: center; 

        &__item-1 {
          background-color: #634f2c;
          grid-row: f1; 
          width: 418px;
          height: 350px;
          flex-shrink: 0;
          display: flex;  
          justify-content: center;
          align-items: center;
          align-content: center;
        }

        &__img-1 {
          width: 185px;
          height: 49px;
          flex-shrink: 0;
          display: flex;
        }

        &__item-2 {
          background-color: #E8D2AB;
          grid-row: f2;
          width: 418px;
          height: 350px;
          flex-shrink: 0;
          color: #fff;
          line-height: normal;
          display: grid;
          justify-content: center;
          justify-items: center;
          align-content: center;
        }

        &__img-2 {
          width: 62px;
          height: 55px;
          flex-shrink: 0; 
          display: flex;
          text-align: center;
          margin-left: 30px;
          margin-bottom: 2px;
        }

        &__item-3 {
          background-color: #E4B564;
          grid-row: f3;
          width: 418px;
          height: 350px;
          flex-shrink: 0;
          display: grid;
          justify-content: center;
          align-items: center;
          align-content: center;
        }

        &__img-3 {
          width: 119px;
          height: 53px;
          flex-shrink: 0;
         justify-content: center;
        }

        &__item-4 {
          background-color: #635A4A;
          grid-row: f4;
          width: 418px;
          height: 350px;
          display: flex;
          justify-content: center;
          align-content: center;
          flex-wrap: wrap;
          flex-direction: row;
          
        }

        &__item-5 {
          background-color: #B08C4D;
          grid-row: f5;
          width: 418px;
          height: 350px;
          flex-shrink: 0; 
          display: grid;
          justify-content: center;
          align-content: center; 
        }

        &__item-6 {
          background-color: #634F2C;
          grid-row: f6;
          width: 418px;
          height: 350px;
          flex-shrink: 0;  
          display: grid;
          justify-content: center;
          align-items: center;
          align-content: center;
        }

        &__img-6 {
          width: 185px;
          height: 49px;
          flex-shrink: 0;
        }
      }
    }
  }
}

